@model IEnumerable<LanchesMac.Models.Lanche>

@{
    ViewData["Title"] = "Gerenciar Produtos";
}

<h1 class="poppins-regular">Gerenciar Produtos</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoLonga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLanchePreferido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th class="text-end"><a class="btn btn-success poppins-medium" asp-action="Create">Novo Produto <i class="fa-solid fa-square-plus"></i></a>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoLonga)
            </td>
            <td>
                @item.Preco.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLanchePreferido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
                <td class="text-end">
                    <div class="btn-group">
                        <a class="text-info" asp-action="Edit" asp-route-id="@item.LancheId"><i class="fa-solid fa-pen-to-square"></i></a> &nbsp; &nbsp;
                        <a class="text-info" asp-action="Details" asp-route-id="@item.LancheId"><i class="fa-solid fa-list"></i></a> &nbsp; &nbsp;
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.LancheId"><i class="fa-solid fa-trash"></i></a> &nbsp;
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
