@* @model IEnumerable<LanchesMac.Models.Pedido> *@

@model ReflectionIT.Mvc.Paging.PagingList<LanchesMac.Models.Pedido>

@{
    ViewData["Title"] = "Gerenciar Pedidos";
}

<h1 class="poppins-regular">Gerenciar Pedidos</h1>

<form method="get" class="form-inline d-flex">
    <div class="input-group mb-3">
        <input name="filter" type="text" class="form-control" placeholder="filtro" aria-label="Recipient's username" aria-describedby="button-addon2" value="@Model.RouteValue["Filter"]">
        <button class="btn btn-outline-info" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i> Procurar</button>
    </div>
</form>

Total de Pedidos: @Model.TotalRecordCount
<table class="table">
    <thead class="table-dark">
        <tr>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Endereco1)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Endereco2)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Cidade) - @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.PedidoEntregueEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Endereco1)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Endereco2)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Cidade) - @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.PedidoEnviado)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.PedidoEntregueEm)
            </td>
                <td class="text-end">
                    <div class="btn-group">
                        <a class="text-info" asp-action="Edit" asp-route-id="@item.PedidoId"><i class="fa-solid fa-pen-to-square"></i></a> &nbsp; &nbsp;
                        <a class="text-info" asp-action="Details" asp-route-id="@item.PedidoId"><i class="fa-solid fa-list"></i></a> &nbsp; &nbsp;
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.PedidoId"><i class="fa-solid fa-trash"></i></a> &nbsp; &nbsp;
                        <a class="text-info" asp-action="PedidosLanches" asp-route-id="@item.PedidoId"><i class="fa-solid fa-basket-shopping"></i></a> &nbsp;
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
