@model IEnumerable<LanchesMac.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="poppins-regular">Gerenciar Categorias</h1>

<p>
    
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th class="poppins-semibold">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th class="text-end"><a class="btn btn-success poppins-medium" asp-action="Create">Nova Categoria <i class="fa-solid fa-square-plus"></i></a>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td class="poppins-regular">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td class="text-end">
                <div class="btn-group">
                    <a class="text-info" asp-action="Edit" asp-route-id="@item.CategoriaId"><i class="fa-solid fa-pen-to-square"></i></a> &nbsp; &nbsp;
                    <a class="text-info" asp-action="Details" asp-route-id="@item.CategoriaId"><i class="fa-solid fa-list"></i></a> &nbsp; &nbsp;
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.CategoriaId"><i class="fa-solid fa-trash"></i></a> &nbsp;
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
